@import 'tailwindcss';
@import 'tw-animate-css';
@plugin 'tailwindcss-react-aria-components';

@variant dark (&:is(.dark *));

@theme {
  --font-sans: 'BDOGrotesk', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --font-serif: 'Playfair Display', ui-serif;

  --font-mono: var(--font-mono), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-bg: var(--bg);
  --color-fg: var(--fg);

  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);

  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);

  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);

  --color-success: var(--success);
  --color-success-fg: var(--success-fg);

  --color-danger: var(--danger);
  --color-danger-fg: var(--danger-fg);

  --color-warning: var(--warning);
  --color-warning-fg: var(--warning-fg);

  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);

  --color-overlay: var(--overlay);
  --color-overlay-fg: var(--overlay-fg);

  --color-navbar: var(--navbar);
  --color-navbar-fg: var(--navbar-fg);

  --color-sidebar: var(--sidebar);
  --color-sidebar-fg: var(--sidebar-fg);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }

  body {
    background-color: var(--bg);
    color: var(--fg);
  }
}

@layer base {
  :root {
    --bg: oklch(1 0 0);
    --fg: oklch(0.141 0.005 285.823);

    --primary: oklch(0.5 0.1179 242.21);
    --primary-fg: oklch(0.98 0.0035 247.86);

    --secondary: oklch(0.97 0.0013 286.38);
    --secondary-fg: oklch(0.21 0.0059 285.88);

    --overlay: oklch(1 0 0);
    --overlay-fg: oklch(0.141 0.005 285.823);

    --accent: oklch(0.705 0.015 286.067);
    --accent-fg: oklch(1 0 0);

    --muted: oklch(0.97 0.0013 286.38);
    --muted-fg: oklch(0.57 0.0139 121.88);

    --success: oklch(0.596 0.145 163.225);
    --success-fg: oklch(1 0 0);

    --warning: oklch(0.828 0.189 84.429);
    --warning-fg: oklch(0.279 0.077 45.635);

    --danger: oklch(0.577 0.245 27.325);
    --danger-fg: oklch(0.971 0.013 17.38);

    --border: oklch(0.911 0.006 286.286);
    --input: oklch(0.871 0.006 286.286);
    --ring: oklch(0.546 0.245 262.881);

    --navbar: oklch(1 0 0);
    --navbar-fg: oklch(0.141 0.005 285.823);

    --sidebar: oklch(0.967 0.001 286.375);
    --sidebar-fg: oklch(0.141 0.005 285.823);

    --radius-lg: 0.5rem;
    --radius-xs: calc(var(--radius-lg) * 0.5);
    --radius-sm: calc(var(--radius-lg) * 0.75);
    --radius-md: calc(var(--radius-lg) * 0.9);
    --radius-xl: calc(var(--radius-lg) * 1.25);
    --radius-2xl: calc(var(--radius-lg) * 1.5);
    --radius-3xl: calc(var(--radius-lg) * 2);
    --radius-4xl: calc(var(--radius-lg) * 3);
  }
}
