---
import { Image } from 'astro:assets'
import logoImg from '../../images/logo.webp'
import { buttonVariants } from '../ui/button'
import NavMenu from './Navigation'
import NavSheet from './Sheet'
---

<header class='transition sticky top-0 bg-white z-50'>
  <div
    class='flex items-center justify-between px-6 sm:px-8 lg:px-12 py-4 border-b border-neutral-100'
  >
    <!-- Brand logo -->
    <div class='flex'>
      <a
        href='/'
        class='focus-visible:outline-primary-950 rounded-md focus-visible:outline focus-visible:outline-2'
      >
        <span class='sr-only'>mgaccountant</span>
        <Image
          loading='eager'
          src={logoImg}
          alt='mgaccountant logo'
          class='h-12 md:h-16 w-auto'
        />
      </a>
    </div>

    <NavMenu client:idle />

    <div class='flex gap-5'>
      <div class='hidden md:flex'>
        <a href='/contact' class={buttonVariants({ variant: 'default' })}
          ><span class='text-lg font-semibold'>Get in touch</span></a
        >
      </div>

      <NavSheet client:idle />
    </div>
  </div>
</header>
