---
import { ViewTransitions } from 'astro:transitions'

const { title, description } = Astro.props
---

<!-- global metadata -->
<meta charset='utf-8' />
<meta name='viewport' content='width=device-width' />
<link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
<link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
<link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
<link rel='manifest' href='/site.webmanifest' />
<meta name='generator' content={Astro.generator} />

<!-- primary meta tags -->
<title>{title}</title>
<meta name='title' content={title} />
<meta name='description' content={description} />

<!-- transitions -->
<ViewTransitions />

<!-- scripts -->
<script>
  import Alpine from 'alpinejs'
  import collapse from '@alpinejs/collapse'

  Alpine.plugin(collapse)

  window.Alpine = Alpine
  Alpine.start()
</script>
