---
import { buttonVariants } from '../ui/button'
import NavMenu from './Navigation'
import NavSheet from './Sheet'
---

<header class='transition'>
  <div
    class='flex items-center justify-between px-6 sm:px-8 lg:px-12 py-6 border-b border-neutral-100'
  >
    <!-- Brand logo -->
    <div class='flex'>
      <a
        href='/'
        class='focus-visible:outline-primary-950 rounded-md focus-visible:outline focus-visible:outline-2'
      >
        <span class='sr-only'>mgaccountant</span>
        <img
          class='h-12 md:h-16 w-auto'
          src='/assets/logo.webp'
          alt='mgaccountant logo'
        />
      </a>
    </div>

    <NavMenu client:load />

    <div class='flex gap-5'>
      <a href='/contact' class={buttonVariants({ variant: 'default' })}
        ><span class='text-lg font-semibold'>Get in touch</span></a
      >

      <NavSheet client:load />
    </div>
  </div>
</header>
