---
import { buttonVariants } from '../ui/button'
import NavMenu from './Navigation'
import NavSheet from './Sheet'
---

<header class='transition'>
  <div
    class='mx-auto flex items-center justify-between px-4 py-4 sm:px-6 sm:py-6 lg:max-w-7xl lg:px-8 border-b border-neutral-100'
  >
    <!-- Brand logo -->
    <div class='flex'>
      <a
        href='/'
        class='focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200 rounded-md focus-visible:outline focus-visible:outline-2'
      >
        <span class='sr-only'>Stone</span>
        <img
          class='h-8 w-auto'
          width='65'
          height='40'
          src='/assets/logo.svg'
          alt='Stone'
        />
      </a>
    </div>

    <NavMenu client:idle />

    <div class='flex gap-5'>
      <a href='/contact' class={buttonVariants({ variant: 'default' })}
        >Get in touch</a
      >

      <NavSheet client:idle />
    </div>
  </div>
</header>
