<section class='pb-16 sm:pb-24'>
  <div class='mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8'>
    <div class='grid gap-16 lg:grid-cols-2 lg:gap-24'>
      <img
        class='mx-auto h-auto w-full max-w-xl rounded-3xl relative'
        width='576'
        height='864'
        src='/assets/about-1.webp'
      />

      <div class='flex flex-col justify-center gap-10'>
        <!-- Mission description -->
        <div class='space-y-8 sm:space-y-12'>
          <div class='space-y-6'>
            <p class='text-primary-950/70 font-medium text-base sm:text-lg'>
              Introducing MG Accountant Ltd, a dynamic and client-centric
              accountancy firm dedicated to providing tailored financial
              solutions for businesses and individuals alike. With a team of
              seasoned professionals and innovative technology, we offer
              comprehensive services including tax planning, auditing, financial
              consulting, and more. Our commitment to excellence and
              personalized approach ensures that each client receives the
              attention and expertise they deserve, helping them achieve their
              financial goals with confidence. Whether you're a small business
              owner or a multinational corporation, trust MG Accountant Ltd to
              navigate the complexities of accounting and maximize your
              financial success.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
