---
const values = [
  [
    {
      name: 'Mission',
      description:
        'To use understandable accounting, practical business advice with a hands-on approach to help our clients realise their goals and assist them to build better businesses.',
    },
  ],
  [
    {
      name: 'Vision',
      description:
        'To work alongside our clients closely using our expertise to understand their needs and assisting them to interpret financial data so they can make the best decisions for themselves and their businesses.',
    },
  ],
]
---

<section class='py-16 sm:py-20'>
  <div class='mx-auto sm:px-6 lg:max-w-7xl lg:px-8'>
    <div class='flex flex-col gap-8 lg:gap-12'>
      <div class='grid gap-8 lg:grid-cols-2'>
        {
          values.map((column, index) => (
            <ul
              role='list'
              class:list={['space-y-8', index === 1 && 'lg:mt-16']}
            >
              {column.map(value => (
                <li class='text-white'>
                  <span class='md:text-xl font-semibold p-2 odd:bg-sky-700 even:bg-lime-600 rounded-t-md'>
                    {value.name}
                  </span>
                  <div class='flex flex-col gap-6 rounded-xl p-4 bg-black'>
                    <p class='font-medium md:text-xl p-2'>
                      {value.description}
                    </p>
                  </div>
                </li>
              ))}
            </ul>
          ))
        }
      </div>
    </div>
  </div>
</section>
