---
const values = [
  [
    {
      name: 'Mission',
      description:
        'To use understandable accounting, practical business advice with a hands-on approach to help our clients realise their goals and assist them to build better businesses.',
    },
  ],
  [
    {
      name: 'Vision',
      description:
        'To work alongside our clients closely using our expertise to understand their needs and assisting them to interpret financial data so they can make the best decisions for themselves and their businesses.',
    },
  ],
]
---

<section class='py-16 sm:py-20'>
  <div class='mx-auto max-w-2xl sm:px-6 lg:max-w-7xl lg:px-8'>
    <div class='flex flex-col gap-8 lg:gap-12'>
      <div class='grid gap-8 lg:grid-cols-2'>
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map(value => (
                <div class='flex flex-col gap-6 rounded-md p-4 bg-sky-700 text-white'>
                  <p class='font-semibold md:text-xl text-black bg-lime-500 p-2 rounded-md'>
                    {value.description}
                  </p>
                  <span class='md:text-xl font-serif font-semibold'>
                    {value.name}
                  </span>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
