---
import { Image } from 'astro:assets'
import maneshaImg from '../../images/manesha.webp'
---

<section class='py-16 sm:py-24'>
  <div class='mx-auto sm:px-6 lg:max-w-7xl lg:px-8'>
    <h2 class='text-3xl sm:text-4xl md:text-5xl font-serif'>Meet The Team</h2>
    <div class='flex flex-wrap items-center gap-28 pt-12 md:pt-32'>
      <div class='grid lg:grid-cols-3 gap-16 lg:items-center'>
        <div
          class='flex flex-wrap justify-center items-center gap-8 lg:order-2'
        >
          <div class='flex flex-col gap-6 items-center'>
            <Image
              src={maneshaImg}
              alt='Image of Manesha, Managing Director of MG Accountant Ltd'
              class='h-60 w-auto max-w-xl rounded-3xl relative'
            />
            <div class='flex flex-col items-center gap-1'>
              <h3 class='text-2xl font-serif md:text-3xl'>Manesha Goncalves</h3>
              <h3 class='text-2xl font-serif md:text-3xl italic'>
                Managing Partner
              </h3>
            </div>
            <a
              href='mailto:manesha@mgaccountant.com'
              class='focus-visible:outline-primary-950 font-semibold sm:text-md inline-flex items-center gap-1 rounded-md hover:underline focus-visible:outline focus-visible:outline-2'
              >manesha@mgaccountant.com</a
            >
          </div>
          <div class='flex flex-col gap-6 max-w-lg text-justify'>
            <p class='sm:text-md'>
              Manesha is the firm's Managing Partner, responsible for driving
              the vision and strategy of the firm. Manesha's 10 years of
              experience extends to working with clients in the businesses of
              IT, recruitment, media, childcare, healthcare, construction, and
              retail.
            </p>
            <p class='sm:text-md'>
              Manesha's area of expertise is her ability to combine sound
              commercial advice with tax planning for businesses. In the case of
              owner-managed businesses, she is experienced in delivering the
              personal objectives of the individuals involved and in responding
              to the specific challenges of those who mix business with family
              life.
            </p>
            <p class='sm:text-md'>
              Outside of work, Manesha enjoys spending time with her two
              children, friends and family.
            </p>
          </div>
        </div>

        <div
          class='flex flex-wrap justify-center items-center gap-8 lg:order-1'
        >
          <div class='flex flex-col gap-6 items-center'>
            <div class='flex flex-col items-center gap-1'>
              <h3 class='text-2xl font-serif md:text-3xl'>Leandro Goncalves</h3>
              <h3 class='text-2xl font-serif md:text-3xl italic'>
                Partner Support
              </h3>
            </div>
            <a
              href='mailto:leandro@mgaccountant.com'
              class='focus-visible:outline-primary-950 font-semibold sm:text-md inline-flex items-center gap-1 rounded-md hover:underline focus-visible:outline focus-visible:outline-2'
              >leandro@mgaccountant.com</a
            >
          </div>
          <div class='flex flex-col gap-6 max-w-lg text-justify'>
            <p class='sm:text-md'>
              Leandro Goncalves is the Partner Support at MG Accountant Ltd,
              where he plays a crucial role in assisting with the firm's
              operations.
            </p>
            <p class='sm:text-md'>
              Outside of his professional responsibilities, Leandro is
              passionate about cooking and enjoys spending quality time with his
              children, balancing his career with his personal life and hobbies.
            </p>
          </div>
        </div>

        <div
          class='flex flex-wrap justify-center items-center gap-8 lg:order-3'
        >
          <div class='flex flex-col gap-6 items-center'>
            <div class='flex flex-col items-center gap-1'>
              <h3 class='text-2xl font-serif md:text-3xl'>Priya Mohit</h3>
              <h3 class='text-2xl font-serif md:text-3xl italic'>
                Finance Administrator
              </h3>
            </div>
            <a
              href='mailto:priya@mgaccountant.com'
              class='focus-visible:outline-primary-950 font-semibold sm:text-md inline-flex items-center gap-1 rounded-md hover:underline focus-visible:outline focus-visible:outline-2'
              >priya@mgaccountant.com</a
            >
          </div>
          <div class='flex flex-col gap-6 max-w-lg text-justify'>
            <p class='sm:text-md'>
              Priya Mohit is the Finance Administrator at MG Accountant Ltd,
              where she is responsible for managing the company's financial
              activities.
            </p>
            <p class='sm:text-md'>
              In her free time, Priya indulges in her passion for arts and
              crafts, finding creativity and relaxation through her artistic
              hobbies.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
