<section class='py-16 sm:py-24'>
  <div class='mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8'>
    <h2 class='text-3xl font-semibold font-serif tracking-tight md:text-4xl'>
      Our Team
    </h2>
    <div class='flex flex-wrap items-center justify-evenly gap-28 pt-32 px-4'>
      <div class='flex flex-col gap-6 items-center'>
        <img
          class='h-96 w-full max-w-xl rounded-3xl relative'
          width='576'
          height='864'
          src='/assets/manesha.webp'
        />
        <div class='flex flex-col items-center gap-1'>
          <h3 class='text-2xl font-serif tracking-tight md:text-3xl'>
            Manesha Goncalves
          </h3>
          <h3 class='text-2xl font-serif tracking-tight md:text-3xl italic'>
            Managing Director
          </h3>
        </div>
        <a
          href='mailto:manesha@mgaccountant.com'
          class='focus-visible:outline-primary-950 font-semibold sm:text-md inline-flex items-center gap-1 rounded-md hover:underline focus-visible:outline focus-visible:outline-2'
          >manesha@mgaccountant.com</a
        >
      </div>
      <div class='flex flex-col gap-6 max-w-lg'>
        <p class='text-base sm:text-md'>
          Manesha is the firm's Managing Director, responsible for driving the
          vision and strategy of the firm. Manesha's 10 years of experience
          extends to working with clients in the businesses of IT, recruitment,
          media, childcare, healthcare, construction, and retail.
        </p>
        <p class='text-base sm:text-md'>
          Manesha's area of expertise is her ability to combine sound commercial
          advice with tax planning for businesses. In the case of owner-managed
          businesses, she is experienced in delivering the personal objectives
          of the individuals involved and in responding to the specific
          challenges of those who mix business with family life.
        </p>
        <p class='text-base sm:text-md'>
          Outside of work, Manesha enjoys spending time with her two children,
          friends and family.
        </p>
      </div>
    </div>
  </div>
</section>
