---
import { Card, CardContent } from '../ui/card'

const values = [
  {
    name: 'Accountability',
    children: [
      {
        name: 'To our clients',
      },
      {
        name: 'To the overall success of our firm',
      },
      {
        name: 'To each of our associates',
      },
    ],
  },
  {
    name: 'Communication',
    children: [
      {
        name: 'Promote positive working relationships and encourage teamwork',
      },
      {
        name: 'Recognize the importance of balance between our personal and professional lives ',
      },
      {
        name: 'Respect individuality',
      },
    ],
  },
  {
    name: 'Ethics',
    children: [
      {
        name: 'Always conduct ourselves with the highest level of integrity',
      },
      {
        name: 'Maintain professionalism with honesty, loyalty and doing the right thing all the time',
      },
    ],
  },
]
---

<section class='py-16 sm:py-20'>
  <div class='mx-auto max-w-2xl sm:px-6 lg:max-w-7xl lg:px-8'>
    <h2
      class='text-3xl sm:text-4xl md:text-5xl font-semibold font-serif tracking-tight'
    >
      Our Values
    </h2>
    <div class='py-12'>
      <ul role='list' class='flex flex-col gap-6'>
        {
          values.map(item => (
            <>
              <Card className='py-2 bg-lime-400 text-black relative'>
                <CardContent className='flex gap-12 lg:gap-[250px]'>
                  <h1 class='md:text-xl mt-4 font-serif'>
                    <span class='font-bold text-purple-700 underline'>{item.name[0]}</span>{item.name.slice(1)}
                  </h1>

                  <div class='mt-4 font-semibold md:text-md'>
                    {
                      <ul role='list' class='flex flex-col gap-2'>
                        {item.children.map(child => (
                          <p>{child.name}</p>
                        ))}
                      </ul>
                    }
                  </div>
                </CardContent>
              </Card>
              <div class='border-b' />
            </>
          ))
        }
      </ul>
    </div>
  </div>
</section>
