---
const values = [
  {
    name: 'Accountability',
    children: [
      {
        name: 'To our clients',
      },
      {
        name: 'To the overall success of our firm',
      },
      {
        name: 'To each of our associates',
      },
    ],
  },
  {
    name: 'Communication',
    children: [
      {
        name: 'Promote positive working relationships and encourage teamwork',
      },
      {
        name: 'Recognize the importance of balance between our personal and professional lives ',
      },
      {
        name: 'Respect individuality',
      },
    ],
  },
  {
    name: 'Ethics',
    children: [
      {
        name: 'Always conduct ourselves with the highest level of integrity',
      },
      {
        name: 'Maintain professionalism with honesty, loyalty and doing the right thing all the time',
      },
    ],
  },
]
---

<section class='py-16 sm:py-20'>
  <div class='mx-auto max-w-2xl sm:px-6 lg:max-w-7xl lg:px-8'>
    <h2
      class='text-3xl sm:text-4xl md:text-5xl font-semibold font-serif tracking-tight'
    >
      Our Values
    </h2>

    <div class='pt-12'>
      <ul
        role='list'
        class='grid grid-cols-1 lg:grid-cols-3 items-center border-2 border-sky-700 divide-y-2 lg:divide-y-0 lg:divide-x-2 divide-sky-700 rounded-xl'
      >
        {
          values.map(item => (
            <div class='group relative z-10 p-4 md:p-6 h-full flex flex-col bg-lime-500 first:rounded-t-md last:rounded-b-md lg:first:rounded-l-md lg:first:rounded-tr-none lg:last:rounded-r-md lg:last:rounded-bl-none'>
              <div class='mb-5'>
                <div class='mt-5 flex flex-col gap-5'>
                  <p class='font-semibold text-sky-700 italic underline text-3xl font-serif'>
                    {item.name}
                  </p>
                  <div class='md:text-md'>
                    {
                      <ul
                        role='list'
                        class='list-disc font-medium text-base sm:text-lg pl-4 flex flex-col gap-2'
                      >
                        {item.children.map(child => (
                          <li>{child.name}</li>
                        ))}
                      </ul>
                    }
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </ul>
    </div>
  </div>
</section>
