---
const features = [
  {
    name: 'Personal Tax Planning',
    description: `We look to provide simple, bespoke solutions but can also deal with complex situations, providing tax advice that you understand. 
      
      Our highly skilled tax team can advise and support you and your family with a variety of personal tax matters, including:`,
    children: [
      {
        text: 'Income Tax',
      },
      {
        text: 'Capital Gains Tax (CGT)',
      },
      {
        text: 'Inheritance Tax',
      },
      {
        text: 'Non-Domiciliary Taxes',
      },
      {
        text: 'Investigations',
      },
    ],
  },
  {
    name: 'Self-Assessment',
    description:
      'Over 11 million people are required to submit a Self-Assessment tax return in the UK each year.',
    children: [
      {
        text: 'When an individual first meets the requirements to report his/her income to HMRC in the form of a tax return, they must notify HMRC by 5th October following the relevant tax year-end.',
      },
      {
        text: 'Our team of personal tax experts assist thousands of clients each year in the preparation and filing of their annual tax returns, from simple tax returns to complex returns which require a combination of tax specialists.',
      },
      {
        text: 'Combining a wealth of knowledge and industry experience with a comprehensive understanding of the legislation governing Personal Tax returns, our team work collaboratively to ensure the highest level of accuracy in the preparation and filing of your Self-Assessment tax return.',
      },
    ],
  },
]
---

<section class='py-16 sm:py-20'>
  <div class='mx-auto lg:max-w-7xl'>
    <div class='flex flex-col gap-8 lg:gap-12'>
      <div class='grid gap-8 lg:grid-cols-2'>
        {
          features.map(feature => (
            <div>
              <div class='flex flex-col gap-6 rounded-lg bg-neutral-100 p-8'>
                <h2 class='text-lg font-semibold sm:text-xl md:text-2xl'>
                  <span class='-mx-2 rounded-md bg-lime-500 p-2 text-sky-700'>
                    {feature.name}
                  </span>
                </h2>
                <p class='text-justify'>
                  {feature.description}
                  {feature.children && (
                    <ul class='flex list-disc flex-col gap-1 pl-4'>
                      {feature.children.map(child => (
                        <li class=''>{child.text}</li>
                      ))}
                    </ul>
                  )}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
