---
import { buttonStyles } from '@/components/ui/button'
import Base from '@/layouts/Base.astro'
---

<Base
  description='Page not found. Please check the URL in the address bar and try again.'
  title='Not found · mgaccountant'
>
  <section class='py-16 sm:py-20'>
    <div class='mx-auto'>
      <div class='flex flex-col items-center gap-12 sm:gap-14'>
        <div class='flex flex-col gap-10 text-center'>
          <h1
            class='text-4xl sm:text-5xl lg:text-6xl flex flex-col items-center gap-4'
          >
            <div class='font-bold'>404</div>
            <div>Page not found</div>
          </h1>
          <p class=' text-lg sm:text-xl'>
            Please check the URL in the address bar and try again.
          </p>
        </div>
        <a href='/' class={buttonStyles({ size: 'large' })}>
          <div class='flex items-center gap-4'>
            <span class='text-lg font-semibold'>Go back home</span>
          </div>
        </a>
      </div>
    </div>
  </section>
</Base>
