---
import ContactForm from '@components/contact/ContactForm'
import ContactInfo from '@components/contact/ContactInfo.astro'
import Base from '@layouts/Base.astro'
---

<Base
  description='Contact our team to learn more about how we can help you.'
  title='Contact · mgaccountant'
>
  <div
    class='mx-auto flex flex-wrap items-center justify-center gap-6 px-4 py-20 sm:px-6 sm:py-24 lg:max-w-7xl'
  >
    <ContactInfo />
    <section class='grow'>
      <div class='mx-auto max-w-2xl'>
        <ContactForm client:idle />
      </div>
    </section>
  </div>
</Base>
