---
import ContactForm from '@components/contact/ContactForm'
import ContactInfo from '@components/contact/ContactInfo.astro'
import Base from '@layouts/Base.astro'
---

<Base
  description='Contact our team to learn more about how we can help you.'
  title='Contact · mgaccountant'
>
  <div
    class='flex flex-wrap lg:gap-6 justify-center items-center py-20 sm:py-24'
  >
    <ContactInfo />
    <section class='pb-16 sm:pb-20 grow'>
      <div class='mx-auto max-w-2xl lg:max-w-7xl'>
        <ContactForm client:idle />
      </div>
    </section>
  </div>
</Base>
