<section class='py-16 sm:py-24'>
  <div class='mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8'>
    <div class='flex flex-col gap-4 sm:gap-6'>
      <h1
        class='text-5xl text-center font-semibold font-serif tracking-tight md:text-6xl'
      >
        Plans that scale with <strong class='text-purple-700 italic'
          >your business</strong
        >.
      </h1>
    </div>
  </div>
</section>
