---
import { buttonStyles } from '@/components/ui'
import { Icon } from 'astro-icon/components'
---

<section class='py-2 sm:py-4 mx-auto lg:max-w-7xl'>
  <div
    class='bg-black rounded-2xl px-4 sm:px-6 py-4 sm:py-6 flex flex-col items-center gap-8 sm:gap-12'
  >
    <div class='flex flex-col items-center gap-5 sm:gap-10'>
      <h1 class='text-4xl sm:text-5xl md:text-6xl text-white text-center'>
        Plans that scale with <strong class='text-lime-600'
          >your business.</strong
        >
      </h1>
      <div class='max-w-[85rem] mx-auto'>
        <div class='flex flex-col items-center gap-12 sm:gap-16'>
          <div
            class='mt-12 grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:items-center text-white'
          >
            <div class='flex flex-col border text-center rounded-xl'>
              <div class='p-4 bg-lime-500 rounded-t-lg'>
                <h4 class='font-bold sm:text-lg'>The Starter</h4>
              </div>
              <span class='font-semibold text-xl sm:text-2xl md:text-3xl p-12'
                >Ideal for small businesses with basic accounting needs.</span
              >
            </div>

            <div class='flex flex-col border text-center rounded-xl'>
              <div class='p-4 bg-sky-700 rounded-t-lg'>
                <h4 class='font-bold sm:text-lg'>The Primary</h4>
              </div>
              <span class='font-semibold text-xl sm:text-2xl md:text-3xl p-12'
                >Intermediate accounting for growing enterprises.</span
              >
            </div>

            <div class='flex flex-col border text-center rounded-xl'>
              <div class='p-4 bg-lime-500 rounded-t-lg'>
                <h4 class='font-bold sm:text-lg'>The Works</h4>
              </div>
              <span
                class='rounded-b-md font-semibold text-xl sm:text-2xl md:text-3xl p-12'
                >Comprehensive accounting for growing enterprises.</span
              >
            </div>
          </div>
          <a
            href='#ctable'
            class={buttonStyles({ intent: 'light', size: 'medium' })}
          >
            <div class='flex items-center gap-2'>
              <span class='sm:text-lg font-semibold'>Compare plans</span>
              <Icon name='lucide:arrow-down' class='h-6 w-6' />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
