---
import { buttonVariants } from '../ui/button'
---

<section class='py-6 sm:py-8'>
  <div class='mx-auto max-w-2xl text-center lg:max-w-7xl'>
    <div
      class='bg-primary-500/10 flex flex-col items-center gap-10 rounded-3xl px-5 py-16 sm:gap-12'
    >
      <h2 class='mx-auto max-w-xl text-3xl font-serif sm:text-4xl'>
        Leave the financial jargon to us and focus on <strong
          class='text-lime-600 italic'>your business.</strong
        >
      </h2>
      <a
        href='/about'
        class={buttonVariants({ variant: 'outline', size: 'md' })}
      >
        <div class='flex items-center gap-4'>
          <span class='sm:text-lg font-semibold'>Learn about us</span>
        </div>
      </a>
    </div>
  </div>
</section>
