---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import heroImg from '../../../public/assets/hero.webp'
import { buttonVariants } from '../ui/button'
---

<section class='py-16 sm:py-24'>
  <div class='mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8'>
    <div class='flex flex-col gap-16'>
      <div class='flex flex-col items-center gap-12 sm:gap-16'>
        <div class='flex flex-col items-center gap-14 sm:gap-16'>
          <h1
            class='text-5xl text-center font-semibold font-serif tracking-tight md:text-6xl'
          >
            Excellent financial services for <strong
              class='text-purple-700 italic'>you</strong
            >.
          </h1>
          <p class='text-3xl font-serif tracking-tight md:text-4xl italic'>
            We listen. We care. We deliver.
          </p>
        </div>
        <a
          href='/contact'
          class={buttonVariants({ variant: 'default', size: 'lg' })}
        >
          <div class='flex items-center gap-4'>
            <span class='text-lg font-semibold'>Get in touch</span>
            <Icon name='lucide:arrow-right' class='h-6 w-6' />
          </div>
        </a>
      </div>
      <Image
        src={heroImg}
        alt='Person pointing at a tablet, guiding someone else'
        class='h-auto w-full rounded-3xl'
      />
    </div>
  </div>
</section>
