---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import heroImg from '../../images/hero.webp'
import { buttonVariants } from '../ui/button'
---

<section class='py-16 sm:py-24'>
  <div class='mx-auto lg:max-w-7xl'>
    <div class='flex flex-col gap-16'>
      <div class='flex flex-col items-start gap-12 sm:gap-16'>
        <div class='flex flex-col items-center gap-14 sm:gap-16'>
          <h1
            class='text-sky-700 max-w-3xl text-4xl sm:text-5xl font-serif md:text-6xl'
          >
            Bringing <strong class='text-lime-600'>order</strong> to the chaos no
            matter what life is throwing <strong class='text-lime-600 italic'
              >at you.</strong
            >
          </h1>
        </div>
        <a
          href='/contact'
          class={buttonVariants({ variant: 'default', size: 'md' })}
        >
          <div class='flex items-center gap-4'>
            <span class='sm:text-lg font-semibold'>Get in touch</span>
            <Icon name='lucide:arrow-right' class='h-6 w-6' />
          </div>
        </a>
      </div>
      <Image
        src={heroImg}
        loading='eager'
        alt='Person pointing at a tablet, guiding someone else'
        class='h-auto w-full rounded-3xl'
      />
    </div>
  </div>
</section>
