---
import { Icon } from 'astro-icon/components'
import { buttonVariants } from '../ui/button'
---

<section class='py-16 sm:py-20'>
  <div class='mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8'>
    <div class='flex flex-col gap-16'>
      <div class='flex flex-col items-center gap-8 sm:gap-16'>
        <div class='flex flex-col items-center gap-10 sm:gap-16'>
          <h1
            class='text-3xl text-center font-medium font-serif tracking-tight md:text-5xl'
          >
            Excellent financial services for <em><strong>you.</strong></em>
          </h1>
          <p
            class='text-primary-950/70 dark:text-primary-200/70 font-serif italic tracking-tight text-lg md:text-2xl'
          >
            We listen. We care. We deliver.
          </p>
        </div>
        <a
          href='/contact'
          class={buttonVariants({ variant: 'default', size: 'xl' })}
        >
          <div class='flex items-center gap-4'>
            <span class='text-xl'>Get in touch</span>
            <Icon name='lucide:arrow-right' class='h-6 w-6' />
          </div>
        </a>
      </div>
      <img
        class='h-auto w-full rounded-3xl'
        width='1280'
        height='640'
        src='/assets/hero.webp'
        alt='Hero picture'
      />
    </div>
  </div>
</section>
