---
import { buttonStyles } from 'ui'
---

<section class='mx-auto py-4 sm:py-6 lg:max-w-7xl'>
  <div class='flex flex-col gap-8 rounded-2xl bg-black sm:gap-10'>
    <div class='flex flex-col items-start gap-8 p-4 sm:gap-12 sm:p-6'>
      <div class='flex flex-col items-start gap-10 text-white sm:gap-14'>
        <h1 class='max-w-3xl text-4xl sm:text-5xl md:text-6xl'>
          Bringing <strong class='text-lime-600'>order</strong> to the chaos no matter
          what life is throwing <strong class='text-sky-700'>at you.</strong>
        </h1>
        <p class='text-2xl sm:text-3xl md:text-4xl'>
          We <strong class='text-lime-600'>listen.</strong> We <strong
            class='text-sky-700'>care.</strong
          > We
          <strong class='text-lime-600'>deliver.</strong>
        </p>
      </div>
      <a href='/about' class={buttonStyles({ size: 'md' })}>
        <div class='flex items-center'>
          <span class='font-semibold sm:text-lg'>About us</span>
        </div>
      </a>
    </div>
  </div>
</section>
