---
import { Card, CardContent, CardHeader, CardTitle } from '../ui/card'

const services = [
  {
    name: 'Services for individuals',
    description:
      "Looking for knowledgeable and dependable accountants? We've got you covered.",
  },
  {
    name: 'Services for businesses',
    description:
      'Need help with your tax returns? Get in touch with us and see how we can help.',
  },
]
---

<section class='py-16 sm:py-20'>
  <div class='mx-auto px-4'>
    <div class='flex flex-col items-center gap-12 sm:gap-16'>
      <div class='grid gap-4 lg:grid-cols-2'>
        {
          services.map(service => (
            <div class='bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8'>
              <Card className='p-5 max-w-[422px]'>
                <CardHeader>
                  <CardTitle className='font-serif text-3xl md:text-4xl'>
                    {service.name}
                  </CardTitle>
                </CardHeader>
                <CardContent>
                  <p class='font-semibold'>{service.description}</p>
                </CardContent>
              </Card>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
