---
import { Icon } from 'astro-icon/components'
import { Card, CardContent, CardHeader, CardTitle } from '../ui/card'

const services = [
  {
    name: 'Services for individuals',
    description:
      "Looking for knowledgeable and dependable accountants? We've got you covered.",
  },
  {
    name: 'Services for businesses',
    description:
      'Need help with your tax returns? Get in touch with us and see how we can help.',
  },
]
---

<section class='py-16 sm:py-20'>
  <div class='mx-auto'>
    <div class='flex flex-col items-center gap-12 sm:gap-16'>
      <div class='grid gap-2 md:gap-6 lg:gap-24 md:grid-cols-2'>
        {
          services.map(service =>
            service.name.includes('individuals') ? (
              <div class='bg-primary-500/10 flex flex-col rounded-3xl py-4'>
                <a href='/services/individuals'>
                  <Card className='p-5 max-w-[422px] transition duration-500 hover:scale-105 sm:hover:scale-110 xl:scale-110 xl:hover:scale-125 bg-sky-700 text-white relative'>
                    <Icon
                      name='lucide:arrow-up-right'
                      class='h-10 w-10 absolute end-4'
                    />
                    <CardHeader>
                      <CardTitle className='font-serif text-3xl sm:text-4xl md:text-5xl mt-4'>
                        {service.name}
                      </CardTitle>
                    </CardHeader>
                    <CardContent>
                      <p class='font-semibold sm:text-lg md:text-xl md:mt-4'>
                        {service.description}
                      </p>
                    </CardContent>
                  </Card>
                </a>
              </div>
            ) : (
              <div class='bg-primary-500/10 flex flex-col rounded-3xl py-4'>
                <a href='/services/businesses'>
                  <Card className='p-5 max-w-[422px] transition duration-500 hover:scale-105 sm:hover:scale-110 xl:scale-110 xl:hover:scale-125 bg-lime-600 text-white relative'>
                    <Icon
                      name='lucide:arrow-up-right'
                      class='h-10 w-10 absolute end-4'
                    />
                    <CardHeader>
                      <CardTitle className='font-serif text-3xl sm:text-4xl md:text-5xl mt-4'>
                        {service.name}
                      </CardTitle>
                    </CardHeader>
                    <CardContent>
                      <p class='font-semibold sm:text-lg md:text-xl md:mt-4'>
                        {service.description}
                      </p>
                    </CardContent>
                  </Card>
                </a>
              </div>
            )
          )
        }
      </div>
    </div>
  </div>
</section>
