<section class='py-16 sm:py-20 grow'>
  <div
    class='mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8 flex flex-col gap-10'
  >
    <div class='flex flex-col gap-6 sm:gap-8'>
      <h1
        class='text-4xl font-semibold font-serif tracking-tight sm:text-5xl lg:text-6xl'
      >
        Contact Us
      </h1>
      <p class='text-primary-950/70 max-w-lg text-lg sm:text-xl font-medium'>
        Please complete this form to give our team more information about your
        needs.
      </p>
    </div>
    <div class='border-b'></div>
    <div class='flex flex-col items-start gap-6 sm:gap-8'>
      <p class='text-primary-950/70 text-base font-bold'>MG Accountant Ltd</p>

      <div class='text-primary-950/70 text-base flex flex-col font-medium'>
        <p>20 Wenlock Road</p>
        <p>London</p>
        <p>N1 7GU</p>
      </div>

      <div
        class='text-primary-950/70 text-base font-medium flex flex-col gap-4'
      >
        <a
          href='mailto:manesha@mgaccountant.com'
          class='focus-visible:outline-primary-950 inline-flex items-center gap-1 rounded-md hover:underline focus-visible:outline focus-visible:outline-2'
          >manesha@mgaccountant.com</a
        >
        <a
          href='tel:07886625609'
          class='focus-visible:outline-primary-950 inline-flex items-center gap-1 rounded-md hover:underline focus-visible:outline focus-visible:outline-2'
          >07886625609</a
        >
      </div>
    </div>
  </div>
</section>
