---
import Head from '@/components/layout/Head.astro'
import '@/styles/base.css'
import '@fontsource/inter/latin-400.css'
import '@fontsource/inter/latin-500.css'
import Footer from '../components/layout/Footer.astro'
import Header from '../components/layout/Header.astro'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang='en' x-cloak x-data>
  <head>
    <Head title={title} description={description} />
  </head>
  <body
    class='bg-primary-50 text-primary-950 dark:bg-primary-950 dark:text-primary-200 antialiased transition overflow-x-hidden max-w-container sm:px-6 lg:px-8'
  >
    <Header />
    <main>
      <slot />
    </main>
    <Footer />

    <style is:global>
      [x-cloak] {
        display: none !important;
      }
    </style>
  </body>
</html>
