---
import Head from '@/components/layout/Head.astro'
import '@/styles/base.css'
import Footer from '../components/layout/Footer.astro'
import Header from '../components/layout/Header.astro'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <Head title={title} description={description} />
  </head>
  <body
    class='bg-primary-50 text-primary-950 antialiased transition overflow-x-hidden max-w-container'
  >
    <Header />
    <main>
      <slot />
    </main>
    <Footer />

    <style is:global>
      [x-cloak] {
        display: none !important;
      }

      @font-face {
        font-family: 'Playfair Display';
        src:
          url('/fonts/Playfair-subset.woff2')
            format('woff2 supports variations'),
          url('/fonts/Playfair-subset.woff2') format('woff2-variations');
        font-weight: 400 900;
      }

      @font-face {
        font-family: 'Playfair Display';
        src:
          url('/fonts/Playfair-Italic-subset.woff2')
            format('woff2 supports variations'),
          url('/fonts/Playfair-Italic-subset.woff2') format('woff2-variations');
        font-weight: 400 900;
        font-style: italic;
      }
    </style>
  </body>
</html>
