---
import Head from '@/components/layout/Head.astro'
import '@/styles/base.css'
import Footer from '../components/layout/Footer.astro'
import Header from '../components/layout/Header.astro'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang='en' x-cloak x-data>
  <head>
    <Head title={title} description={description} />
  </head>
  <body
    class='bg-primary-50 text-primary-950 dark:bg-primary-950 dark:text-primary-200 antialiased transition overflow-x-hidden max-w-container'
  >
    <Header />
    <main>
      <slot />
    </main>
    <Footer />

    <style is:global>
      [x-cloak] {
        display: none !important;
      }

      @font-face {
        font-family: 'Playfair Display';
        src: url('/fonts/Playfair500-subset.woff2') format('woff2');
        font-display: swap;
        font-weight: 500;
      }

      @font-face {
        font-family: 'Playfair Display';
        src: url('/fonts/Playfair600-subset.woff2') format('woff2');
        font-display: swap;
        font-weight: 600;
      }

      @font-face {
        font-family: 'Playfair Display';
        src: url('/fonts/Playfair900Italic-subset.woff2') format('woff2');
        font-display: swap;
        font-weight: 700;
        font-style: italic, oblique;
      }
    </style>
  </body>
</html>
