---
import Head from '@/components/layout/Head.astro'
import { Toaster } from '@/components/ui/sonner'
import Footer from '../components/layout/Footer.astro'
import Header from '../components/layout/Header.astro'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<html lang='en' class='scroll-smooth'>
  <Head title={title} description={description} />
  <body
    class='bg-primary-50 text-primary-950 antialiased transition overflow-x-hidden max-w-container'
  >
    <Header />
    <main class='px-6 sm:px-8 lg:px-10'>
      <slot />
    </main>
    <Toaster theme='light' richColors client:idle />
    <Footer />

    <style is:global>
      @font-face {
        font-family: 'BDOGrotesk';
        src: url('/fonts/BDOGrotesk-subset.woff2') format('woff2');
        font-display: swap;
        font-weight: 400 600;
      }

      @font-face {
        font-family: 'Playfair Display';
        src: url('/fonts/Playfair-subset.woff2') format('woff2');
        font-weight: 400 600;
        font-display: swap;
      }

      @font-face {
        font-family: 'Playfair Display';
        src: url('/fonts/Playfair-Italic-subset.woff2') format('woff2');
        font-weight: 400 600;
        font-style: italic;
        font-display: swap;
      }
    </style>
  </body>
</html>
